<a href="https://colab.research.google.com/github/PrabhaRajesh/Diabeties_prediction/blob/main/Diabetes_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv('Diabities-210331-154610.csv')

In [ ]:
df.head()

,Unnamed: 0,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,NaN,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,NaN,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,NaN,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,NaN,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

In [ ]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [ ]:
df.head()

,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

In [ ]:
len(df)

769

In [ ]:
df.dropna(axis=0,inplace=True)

In [ ]:
len(df)

768

In [ ]:
X = df.iloc[:,0:8]

In [ ]:
X.head()

,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0

In [ ]:
Y = df.iloc[:,-1]

In [ ]:
Y.head()

0    1.0
1    0.0
2    1.0
3    0.0
4    1.0
Name: Outcome, dtype: float64

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=20,random_state=0)

## DecisionTreeClassifier

In [ ]:
dt = DecisionTreeClassifier(max_depth=6,random_state=0)
dt.fit(X_train,Y_train)
accuracy_score(Y_test,dt.predict(X_test))*100

95.0

## AdaboostClassifier

In [ ]:
ab = AdaBoostClassifier(learning_rate=1,n_estimators=18)
ab.fit(X_train,Y_train)
accuracy_score(Y_test,ab.predict(X_test))*100

95.0

## RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(n_estimators=8)
rf.fit(X_train,Y_train)
accuracy_score(Y_test,rf.predict(X_test))*100

90.0

## LogisticRegression

In [ ]:
lg = LogisticRegression(solver='lbfgs',max_iter=1000)
lg.fit(X_train,Y_train)
accuracy_score(Y_test,lg.predict(X_test))*100

100.0

## KNeighbourClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(X_train,Y_train)
accuracy_score(Y_test,knn.predict(X_test))*100

90.0